[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
boto3 = "==1.26.115"
click = "==8.1.3"
awss = {path = "."}

[dev-packages]

[requires]
python_version = "3.10"